extends layout

block content
  h1= "HWS-App"
  p Welcome to Project Selective-Otter by D2rd and Meisha04
  
  .flex-container
    #flex-files.p-2.flex-column.align-self-start FILES
    
    ul(id='”foldertree”')    
    #flex-markdown.p-2.flex-column.align-self-start MARKDOWN
      textarea#flex-markdown-input(placeholder='  Enter text here.')  
    #flex-preview.p-2.flex-column.align-self-end PREVIEW
