extends layout

block content
  h1= "HWS-App"
  p Welcome to Project Selective-Otter by D2rd and Meisha04
  
  .flex-container
    #flex-files.p-2.flex-column.align-self-start FILES
    #flex-markdown.p-2.flex-column.align-self-start 
      | 
    #flex-preview.p-2.flex-column.align-self-end PREVIEW
