body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.flex-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 75%;
  /* or inline-flex */
}

#flex-sidebar {
  width: 200px;
  height: 500px;
  margin: 10px;
  background-color: lightgrey;
}

#flex-editor {
  width: 400px;
  height: 500px;
  margin: 10px;
  background-color: cornflowerblue;
}

#flex-preview {
  width: 400px;
  height: 500px;
  margin: 10px;
  background-color: seagreen;
}

button {
  align="right";
  border: solid;
}

#editor-textbox {
  text-align: center;
}

#preview-textbox {
  text-align: center;
}