body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.flex-container {
  display: inline-flex; // for other browsers
  // display: -webkit-flex;  // required for safari
  flex-direction: row;
  // flex-wrap: nowrap;
  height: 75%;
  /* or inline-flex */
}

#flex-files {
  width: 150px;
  height: 250px;
  margin: 10px;
  background-color: lightgrey;
}

#flex-markdown {
  width: 300px;
  height: 250px;
  margin: 10px;
  background-color: cornflowerblue;
}

#flex-preview {
  width: 300px;
  height: 250px;
  margin: 10px;
  background-color: seagreen;
}