body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.flex-container {
  display: flex;
  flex-direction: row;
  /* or inline-flex */
}

#flex-item-files {
  display: -webkit-flex;
  display: flex;
  width: 400px;
  height: 250px;
  background-color: lightgrey;
}

#flex-item-markdown {
  background-color: cornflowerblue;
  width: 100px;
  height: 100px;
  margin: 10px;
}
